

.batch{
    background-color: rgb(39, 39, 156);
    padding : 10px 100px;
}

.batch h2{
    text-align: center;
    color: white;
    padding-top: 25px;
}

.one{
    background-color: white;
    padding: 5px 10px;
    border: solid;
    border-radius: 10px;
}

.one h4{
    display: inline-block;
    padding-left: 50px;
    padding-right: 50px;
}

.two{
    background-color: white;
    padding: 5px 10px;
    border: solid;

    border-radius: 10px;
}

.two input,h5{
    display: inline-block;
}

.three{
    float: right;
    padding-right: 200px;
}

.three h1{
    font-size: 27px;
    text-align: center;
}

.three h3{
    text-align: center;
}