@import url('https://fonts.googleapis.com/css2?family=Exo');

*{
    font-family: 'Exo', sans-serif;
}

.Consulting .introHeading{
    background-color: #0096FF;
    color: #fff;
}
.Consulting .introDesc{
    font-size: .9rem;
}