
@import url('https://fonts.googleapis.com/css2?family=Montserrat');

*{
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* overflow-x: hidden; */
}

.mobile{
  /* transform: translateY(100px); */
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.mobile .wrapper{
  width: 100%;
  height: 500px;
  background: linear-gradient(#00000086, #00000070), url("/src/Images/Main_image.jpg") no-repeat center;
  background-size: cover;
  position: relative;
}

.mobile-imgDiv-content{
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translateY(-50%);
}

.mobile-imgDiv-content .imgDiv-heading,
.mobile-imgDiv-content .imgDiv-text{
  color: #fff;
}

.mobile-imgDiv-content .imgDiv-text{
  width: 45%;
  text-shadow: 0 2px 2px black;
  font-size: 1rem;
  font-family: 'Poppins', sans-serif;
  text-align: justify;
}

.mobile .wrapper .line{
  height:10px;
  width:100px;
  background-color: orange;
  position: relative;
}

.mobile .wrapper .mobile-imgDiv-content button a{
  color: #fff;
}

.mobile .services-row{
  display: flex;
  justify-content: center;
  align-items: center;
}
.mobile .services-row .img-div{
  display: flex;
  justify-content: center;
  align-items: center;
}

.mobile .services-row .img-div img{
  width: 300px;
}

.mobile .layer div div div .text-justify{
  text-align: justify;
}

.mobile .layer{
  margin-top: 20px;
  background-color: #efefef;
}

.mobile .layer div{
  background-color: #fff;
  padding: 20px 10px;
  max-width: 900px;
  margin: 0 auto;
}

@media screen and (max-width:550px){
  .mobile .wrapper{
    height: 350px;
  }
}

@media screen and (max-width:780px){
  .mobile .service-row-1,
  .mobile .service-row-3{
    display: flex;
    flex-direction: column-reverse;
  }
  .mobile .service-row-2{
    display: flex;
    flex-direction: column;
  }

  .mobile .services-row .service-row-content{
    width: 100%;
  }
}

@media screen and (max-width:820px){
  .mobile-imgDiv-content .imgDiv-text{
    width: 90%;
  }
}

@media screen and (max-width:980px){
  .mobile-imgDiv-content .imgDiv-text{
    width: 65%;
  }
}

/* .mobile .wrapper p{
  font-family: 'Exo', sans-serif;
   font-size: 1.5vw;
  font-weight: 500;
   padding-left: 60px;
   color:white;
   width:40%;
} */


/* .mobile .layer{
  background-color: #efefef;
} */
/* 
.mobile .layer h4{
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.mobile .layer h1{
  text-align: center;
   font-family: 'Montserrat', sans-serif;
} */

.mobile .layer .layer1{
  background-color: white;
  /* margin-left:15%;
  margin-right: 15%;
  margin-bottom: 5%;
  margin-top: 5%;
  padding-left: 8%;
  padding-bottom: 3%;
  padding-right: 5%;
  padding-top:5%; */
}

/* .mobile .layer .layer2{
  background-color: white;
  margin-left:15%;
  margin-right: 15%;
  margin-bottom: 5%;
  margin-top: 5%;
  padding-left: 8%;
  padding-bottom: 3%;
  padding-right: 5%;
  padding-top:5%;
} */


/* .mobile .layer .layer3{
  background-color: white;
  margin-left:15%;
  margin-right: 15%;
  margin-bottom: 5%;
  margin-top: 5%;
  padding-left: 8%;
  padding-right: 5%;
  padding-top:5%;
    padding-bottom: 0.5%;
} */



.mobile .layer .layer1 h3{
     font-family: 'Montserrat', sans-serif;
}



  @media only screen and (max-width: 800px) {
/* .mobile .wrapper .line{
  margin-left: 20px;
} */

/* .mobile .wrapper p{
  font-family: 'Exo', sans-serif;
   font-size: 2.5vw;
  font-weight: 500;
   padding-left: 20px;
   color:white;
   width:45%;
} */
/* .mobile .wrapper button{
  padding: 15px;
  margin-left: 20px;
  border-radius:20px;
  font-size: 20px;
} */
.mobile .mob-services{
  padding: 50px;
  text-align: center;
}

.mobile .mob-services h1{
  margin-top: 10px;
  padding-top: 15px;
  font-size:20px;
}

}