.sticky{
  z-index: 3999;
  position:fixed;
  top: 0;
  background-color: #fff;
  width: 100%;
  padding: 0 0px;
  transition: all .2s ease-in-out;
}


nav { 
  max-width:100%;
  z-index: 1020;
}

.nav-logo{
  line-height: 0px; 
  }

ul{
  list-style: none;
}

nav ul {
  margin:0 auto;
  text-align:right;
  /* font-size:1.8rem; */
  font-family: 'Work Sans', sans-serif;
  color:black;
}

nav ul li {
  list-style:none;
  display:inline-block;
  margin:0 .8rem;
  -webkit-transition: all 100ms ease;
-moz-transition: all 100ms ease;
-ms-transition: all 100ms ease;
-o-transition: all 100ms ease;
transition: all 100ms ease;
  cursor:pointer;
}
nav ul li:nth-child(1){
  margin:0 .8rem 0 0;
}

#link1:hover {
  -moz-transform: scale(1.1);
-webkit-transform: scale(1.1);
-o-transform: scale(1.1);
-ms-transform: scale(1.1);
transform: scale(1.1);
  
}
#link2:hover {
  -moz-transform: scale(1.1);
-webkit-transform: scale(1.1);
-o-transform: scale(1.1);
-ms-transform: scale(1.1);
transform: scale(1.1);

}
#link3:hover {
  -moz-transform: scale(1.1);
-webkit-transform: scale(1.1);
-o-transform: scale(1.1);
-ms-transform: scale(1.1);
transform: scale(1.1);
  
}
#link4:hover {
  -moz-transform: scale(1.1);
-webkit-transform: scale(1.1);
-o-transform: scale(1.1);
-ms-transform: scale(1.1);
transform: scale(1.1);
 
}
#link5:hover {
  -moz-transform: scale(1.1);
-webkit-transform: scale(1.1);
-o-transform: scale(1.1);
-ms-transform: scale(1.1);
transform: scale(1.1); 
}
.dropbtn {
    color:black;
    border: none;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: sticky;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color:white;
    min-width: 210px;
    text-align:left;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1000;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 14px;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: rgb(185, 210, 248);}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  


  .nav-item{
      float: right !important;
      text-decoration: underline;
      font-size:  20px;
  }

  /* hamburger */
  .hamburger{
    display: none;
  }

  .navigationDivMobile{
    transition: all .2s ease-in;
    z-index: 1020;
  }
  

  @media screen and (max-width:900px) {
    .hamburger{
      display: inline-block;
    }
    .navigationDivMobile div ul{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      padding: 0;
      margin: 0;
    }
    .navigationDivMobile div ul li{
      margin: .1rem .5rem;
      font-size: 1rem;
    }
    nav>ul{
      display: none;
    }
  }

  @media screen and (max-width:370px) {
    .navigationDivMobile div ul{
      display: flex;
      flex-direction: column;
      padding: 0;
      margin: 0;
    }
  }


  /* navbar for mobile */
  .nav-mobile{
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    position: fixed;
    top:0;
    left: 0;
    transform: translate(-100%);
    transition: .3s;
  }
  .nav-mobile.active{
    transform: translate(0%);
  }

  .nav-mobile .nav-mobile-header{
    width: 100vw;
    height: 12vh;
    background-color: #fff;
    border-bottom: 1px solid #999;
  }

  .nav-mobile .nav-mobile-body{
    height: 95vh;
    overflow-y: scroll;
  }

  .nav-mobile .nav-mobile-body .nav-link{
    color: #000;
    padding: 1rem .5rem;
    text-decoration: none;
    transition: all .3s;
    cursor: pointer;
  }

  .nav-mobile .nav-mobile-body .nav-link-hover:hover{
    background-color: #9999996f;
    padding-left: .7rem;
  }
  .submenu-ddl.active{
    background-color: #9999996f;
  }

  .submenu-ddl-list{
    max-height: 0;
    transition: all 0.15s ease-in-out;
    overflow: hidden;
    background-color: whitesmoke;
  }

  .submenu .submenu-ddl-list .nav-link{
    padding-left: 1rem;
  }

  .submenu-ddl-list.active{
    max-height: 500px;
  }