
*{
    font-family: 'Poppins', sans-serif;
}


.outer{
    padding: 10px 50px;
}
.projects{
    padding: 2px 30px;
    border: black solid 1px;
}

.projects h1{
    color: white;
    background-color: rgb(0, 0, 88);
    padding-left: 10px;
}