.contact-wrapper.theme-dark {
    height: 100%;
    margin: 0;
    background-color: var(--bg-dark);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;

    .img-div {
        width: 100%;
        min-height: 650px;
        background: linear-gradient(#0000005f, #000000), url('/src/Images/contactUS.jpg') no-repeat center;
        background-size: cover;
        color: var(--text-light);
        display: flex;
        justify-content: space-around;
        align-items: center;

        .col1 {
            width: 40%;
            padding: 10px;
            h1,p{
                color: var(--bg-light-secondary);
                text-shadow: 1px 1px 1px black;
            }
        }
    }

    .contact-form-wrapper {
        background-color: var(--bg-dark);
        border-radius: 10px;
        padding: 1rem 1.5rem;

        .form label {
            margin-top: .7rem;
            margin-bottom: .2rem;
            color: var(--text-light-secondary);
            font-weight: normal;
        }

        input,
        textarea {
            width: 100%;
            padding: 12px 20px;
            display: inline-block;
            border: none;
            outline: none;
            border-radius: 4px;
            box-sizing: border-box;
            background-color: var(--bg-dark-3);
            color: var(--text-light-secondary);
        }

        .btn {
            width: auto;
            background-color: var(--bg-dark-secondary);
            color: var(--text-light-secondary);
            padding: .8rem 1.2rem;
            margin: .8rem 0;
            border: none;
            cursor: pointer;
            transition: .2s ease-in-out;

            &:hover {
                color: var(--text-light);
                background-color: var(--bg-dark-3);
            }
        }
    }
}

.contact-wrapper.theme-light {
    height: 100%;
    margin: 0;
    background-color: var(--bg-dark);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;

    .img-div {
        width: 100%;
        min-height: 650px;
        background: linear-gradient(#00000089, #b9b9b900), url('/src/Images/contactUS.jpg') no-repeat center;
        background-size: cover;
        color: var(--text-light);
        display: flex;
        justify-content: space-around;
        align-items: center;

        .col1 {
            width: 40%;
            padding: 10px;
            h1,p{
                color: var(--bg-light-secondary);
                text-shadow: 1px 1px 1px black;
            }
        }
    }

    .contact-form-wrapper {
        background-color: var(--bg-light-secondary);
        border-radius: 10px;
        padding: 1rem 1.5rem;

        .form label {
            margin-top: .7rem;
            margin-bottom: .2rem;
            color: #34526c;
            font-weight: bold;
        }

        input,
        textarea {
            width: 100%;
            padding: 12px 20px;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
            outline: none;
        }

        .btn {
            width: auto;
            background-color: var(--bg-light);
            color: var(--text-dark);
            padding: .8rem 1.2rem;
            margin: .8rem 0;
            border: none;
            cursor: pointer;
            transition: .2s ease-in-out;

            &:hover {
                color: var(--text-dark);
                background-color: var(--bg-light-secondary);
            }
        }
    }
}


@media only screen and (max-width: 950px) {
    .img-div{
        flex-direction: column;
        padding-bottom: 1rem;
        .col1{
            width: 100% !important;
            text-align: center;
            margin-top: 1rem;
        }
    }
}
@media only screen and (max-width: 550px) {
    .contact-form-wrapper{
        border-radius: 0 !important;
    }
}