    footer.theme-dark {
        background-color: var(--bg-dark);

        .footer-section {
            h6 {
                color: var(--text-light);
            }

            p a,
            p,
            i {
                text-decoration: none !important;
                color: var(--text-light-3);

                &:hover {
                    text-decoration: underline;
                }
            }

            p,
            i {
                &:hover {
                    text-decoration: none;
                }
            }
        }

        hr {
            background-color: var(--bg-light);
        }

        .footer-end {
            color: var(--text-light-secondary);
        }
    }


    footer.theme-light {
        .footer-section {
            p {
                a {
                    text-decoration: none;
                    color: black;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }

        hr {
            background-color: var(--bg-dark);
        }
    }